* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: red;
}


nav {
  height: 100px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color:#F55A5A;

}

.nav--logo{
  display: block;
  width: 20%;
  margin: auto;
}

.main--img{
  height: 250px;
  width: 190px;
  border-radius: 10px;
  margin: 20px 10px;
  
}

.main--item{
  padding: 50px;
  color: black;
  max-width: auto;
  display: flex;
}

.locationicon{
  width: 15px;
  height: 14px;
}
.main--link{
  color: grey;
}